<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>团队简介</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body {
	margin-left: 150px;
	margin-right: 150px;
	background-image: url(/static/imgs/backg.JPG);
}
</style>
</head>

<body>
<table width="910" border="0" align="center">
  <tr>
    <td class="backg"><img src="/static/imgs/src.png" width="240" height="135" /><img src="/static/imgs/s.jpg" width="397" height="135" align="right" /></td>
  </tr>
</table>
<table width="900" border="0" align="center" class="backg" background-color="000" >
  <tr>
    <td><p class="atitle"><strong>团队项目的描述：</strong> </p>
    <p class="zhengwen"> 设计、实现一个可以进行学习研究、分享交流的人性化学习网站，为学习者提供资源共享、学术讨论、疑题问答、交友聊天的平台。为了能让学习网站更加人性化、更贴合实际需求，我们在继承传统学习网站学术讨论、资源共享功能的同时，增加了好友聊天、问问、智能语音输入、智能推荐内容等新特性。</p>
    <p class="atitle"><strong>团队风采：</strong> </p>
    <div align="center">
      <table width="800" border="1">
        <tr>
          <td width="171"><p align="center" class="atitle">陈慧玲（队长）</p>
            <p>（学号：43004）</p></td>
          <td width="613"><p class="tablezw">风格：耐心聆听，团结合作</p>
            <p class="tablezw">擅长的技术：MySQL</p>
            <p class="tablezw">编程的兴趣：想多点掌握Python技术，实现一些有趣的功能</p>
            <p class="tablezw">希望的软工角色：负责团队分工，撰写博客，主要编程人员，负责相应的代码模块</p>
            <p class="tablezw">一句话宣言：比昨天的自己好一点</p></td>
          </tr>
        <tr>
          <td height="204"><p align="center" class="atitle">陈春燕</p>
            <p>（学号：43004）</p></td>
          <td width="613"><p class="tablezw">风格：强迫症晚期，追求完美，擅长分析问题</p>
            <p class="tablezw">擅长的技术：C语言</p>
            <p class="tablezw">编程的兴趣：消灭bug</p>
            <p class="tablezw">希望的软工角色：测试与需求分析，承担代码和脑洞的工作，负责相应的代码模块</p>
            <p class="tablezw">一句话宣言：没有最好，只有更好</p></td>
          </tr>
        <tr>
          <td><p><span class="atitle">何颖仪    </span>          </p>
            <p>（学号：43019）</p></td>
          <td width="613"><p class="tablezw">风格：喜欢有规划、有条理的做事，追求效率</p>
            <p class="tablezw">擅长的技术：C语言、Java</p>
            <p class="tablezw">编程的兴趣：通过做项目，接触学习更多相关的技术</p>
            <p class="tablezw">希望的软工角色：负责部分代码</p>
            <p class="tablezw">一句话宣言：努力做更好的自己~</p></td>
          </tr>
      </table>
    </div>
    <div>
      <p class="atitle"><strong>团队的首次合照：</strong></p>
      <div align="center"><img src="/static/imgs/合照.jpg" width="700" height="350" align="absmiddle" /></div>
    </div>
    <p class="atitle"><strong>团队的特色描述：</strong></p>
    <p>       <span class="zhengwen">全女生队伍，具有凝聚力和创造力，打代码会比较细腻。水平相近，可以互相学习。</span>    </p>
    <p>&nbsp;</p>
    <hr /></td>
  </tr>
  <tr class="footb">
    <td height="51"><table width="306" border="0" align="center">
        <tbody>
        </tbody>
      </table>
      <table width="900" border="0">
        <tr>
          <td width="400"><div align="right"><span class="foot">建议使用：</span></div></td>
          <td width="500"><span class="foot">google chrome/火狐浏览器</span></td>
        </tr>
        <tr>
          <td><div align="right"><span class="foot">版权所有©</span></div></td>
          <td><span class="foot">S.C.R</span></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
